*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.title {
    background-color: #166FE5;
    padding: 50px;
    text-align: center;
    box-shadow: 1px 5px 5px #615f5f;
    

    h1{
        color: #fff;
        font-style: italic;
        text-shadow: 1px 5px 5px #313030;
    }

    .logo{
        display: flex;
        position: absolute;
        top: -4px;
        margin-right: 20px;
    }
}

