@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('Fontes/heroworship.ttf') format('opentype');
    font-weight: normal;
    
}


:root {
    --cor0: #38569E;
    --cor1: yellow;
    --cor2: white;
    --cor3: black;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:"Poppins", sans-serif;
    --fonte-destaque2:'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: rgb(181, 187, 192);
    margin: auto;
    margin-top: -29px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #2e2d2d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    font-family: var(--fonte-destaque);
    background-color: #38569E;
    text-shadow: 1px 1px #000;
    padding: 10px;
    color: white;
}

main h3 {
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 17px;
}

main img {
    width: 100%;
}

main li {
    font-family: var(--fonte-destaque);
    list-style: none;
}

main p  {
    font-family: var(--fonte-destaque);
    font-size: 15px;
    padding: 10px
}

.list {
    font-size: 14px;
}

.finish {
    font-size: 14px;
}

p i{
    padding-right: 5px;
}

main iframe {
    display: block;
    margin: auto;
}



footer {
    background-color: #38569E;
    padding: 10px;
    box-shadow: 0px 0px 10px #2e2d2d;
}

footer  p {
    text-align: center;
    font-family: var(--fonte-destaque);
    color: yellow;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

body {
    background-color: rgb(211, 211, 11);
}

/* Banner */
.banner {
    background-color: #38569E;
    margin: 30px;
    padding: 30px;
    border-radius: 0 10px 0px 10px;
    box-shadow: 0px 0px 10px #2e2d2d;
}

.banner #sub {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-destaque);
    font-size: 25px;
    font-weight: 500;
    padding-top: 10px;
    color: yellow;
    text-shadow: 1px 1px #000;
}

.title {
    text-shadow: 1px 1px  rgb(160, 160, 36);
}

.banner .title {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-padrao);
    font-size: 50px;
}

/* Navegação */

.navigation  {
    display: flex;
    background-color: rgb(211, 211, 11);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}


.navigation a {
    margin: 0 auto;
    font-family: var(--fonte-destaque);
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.navigation a:hover {
    color: #38569E;
}

/* Article */




